@charset "UTF-8";

img.normal {
    float: left;
    height: 300px;
    width: 300px;
    margin-right: 30px;
}

img.alta {
    float: left;
    height: 420px;
    width: 300px;
    margin-right: 30px;
}

h1 {
    border-bottom-style: inset;
}

pre {
    font-size: 1.2em;
    font-weight: bold;
}

.bottom {
    padding: 5px;
    font-weight: bold;
    background-color: aqua;
}
